.titleSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  /* margin-right: 15px;
    margin-left: 15px; */
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}
.svg {
  width: 20px;
  height: 20px;
  background: var(--main-background-color);
  border: none;
}
.arrows {
  stroke: var(--accent-color);
  height: 10px;
  width: 8px;
}
.iconCategories {
  width: 63px;
  height: 56px;
}
@media screen and (max-width: 767px) {
  .sliderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .wrapper {
    position: relative;
  }
  .list:after {
    content: '';
    height: 70.5px;
    border: 1px solid var(--pseudo-element-color);
    position: absolute;
  }
  .list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 282px;
    height: 85px;
    background: var(--main-background-color);
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .itemCosts {
    margin-right: 15px;
  }

  .itemIncome {
    margin-left: 10px;
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    margin: 0 auto;
    color: var(--main-text-color);
  }
  .sum {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .sumCosts {
    color: var(--costs-color);
  }

  .sumIncome {
    color: var(--income-color);
  }

  .titleIcons {
    text-align: center;
    font-size: 10px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-top: 5px;
    margin-bottom: 40px;
    color: var(--main-text-color);
  }
  .titleSum {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 5px;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
  }

  .gridItem {
    flex-basis: calc((100% - 10px * 3) / 3);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .gridItem::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 95px;
    margin-top: 90px;
    border: 1px solid var(--pseudo-element-color);
    transform: rotate(-90deg);
  }

  .schedule {
    margin-top: 34px;
  }
  .wrapperGrid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    position: relative;
  }
  .list:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 36px;
    border: 1px solid var(--pseudo-element-color);
  }
  .list {
    position: relative;
    width: 668px;
    height: 50px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-background-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .itemCosts {
    margin-right: 15px;
  }

  .itemIncome {
    margin-left: 10px;
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    margin: 0 auto;
    color: var(--main-text-color);
  }
  .sum {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .sumCosts {
    color: var(--costs-color);
    margin-right: 21px;
    margin-left: 15px;
  }
  .titleIncome {
    margin-left: 15px;
    margin-right: 21px;
  }

  .sumIncome {
    color: var(--income-color);
  }
  .wrapperBackground {
    text-align: center;
    width: 666px;
    height: 358px;
    background: var(--main-background-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    margin-right: 0px;
  }
  .sliderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .titleSlider {
    margin-top: 20px;
  }
  .svg {
    margin-top: 20px;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    justify-content: center;
  }

  .gridItem {
    flex-basis: calc((100% - 15px * 6) / 6);
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .titleIcons {
    text-align: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-top: 5px;
    margin-bottom: 40px;
    color: var(--main-text-color);
  }
  .titleSum {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 5px;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
  }
  .schedule {
    margin-top: 30px;
    width: 666px;
    height: 422px;
    background: var(--main-background-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    width: 1060px;
    height: 50px;
    background: var(--main-background-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
  .wrapperBackground {
    width: 1060px;
    height: 358px;

    background: var(--main-background-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    justify-content: center;
  }

  .gridItem {
    flex-basis: calc((90% - 15px * 6) / 6);
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .schedule {
    margin-top: 30px;
    width: 1060px;
    height: 422px;
    background: var(--main-background-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}
