.balance_form_container {
  padding-top: 35px;
  text-align: center;
}

.balance_form_input {
  cursor: pointer;
  outline: none;
  border: 2px solid white;
  border-right: 0;
  border-radius: 22px 0 0 22px;
  width: 125px;
  height: 44px;
  padding: 0 17px 0 0;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  color: black;
  background-color: rgb(207, 203, 203);
}

.balance_form_btn {
  cursor: pointer;
  outline: none;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 0 22px 22px 0;
  width: 125px;
  height: 44px;
  -webkit-align-items: center;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(82, 85, 95, 0.7);
}
