@media screen and (max-width: 767px) {
  .container {

    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container {

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  }
}

.backgroundContainer {
  position: relative;

}

/* @media screen and (max-width: 767px) {
  .cabbageHalf {
    position: absolute;
    top: 160px;
    right: 0;
    width: 49px;
  }

  .cabbageBig {
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 83px;
    z-index: -1;
  }

  .overlayMobile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .cabbageHalf,
  .cabbageBig,
  .overlayMobile {
    display: none;
  }
} */