@media screen and (max-width: 767px) {
  .wrap {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    margin-left: 20px;
    width: 230px;
    height: 100%;
    /* overflow: hidden; */
  }

  .table {
    width: 230px;
    background-color: var(--second-background-color);
    border-collapse: collapse;
    text-transform: uppercase;
  }

  .month {
    text-align: left;
    width: 100px;
  }

  .sum {
    text-align: right;
    width: 100px;
  }

  .tr {
    height: 38px;
    font-weight: 400;
    border-bottom: 2px solid var(--main-background-color);
  }

  .title {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #000000;
  }

  .color {
    width: 84px;
    height: 38px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #52555f;
  }
}
@media screen and (min-width: 1280px) {
}
